body {
    background: rgb(73, 19, 240);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
a {
    color: azure;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    margin-left: 20px;
}
.header{
    display: flex;
    align-items: center;
    color: whitesmoke;   
}
.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
input[type="button"] {
    border: 0px;
    border-radius: 25px;
    color: whitesmoke;
    padding: 10px 25px;
    background: linear-gradient(to right, RGB(236, 158, 60) , RGB(240, 120, 58));
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.copy-1{
        flex: 0 0 450px;
        color: rgb(201,185,251);
        z-index: 1;
    margin-right: -69px;
    margin-top: 45px;
}
.pic-1{
    flex: 0 1 900px;
    z-index: 0;
}
.section-2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 50px 0px;
}

.patented-tech {
	flex: 0 1 500px;
	margin-right: 50px;
}

.brain-and-behavior {
	flex: 0 1 400px;
}